.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 50px;
  font: normal 18px/1.4 Arial, sans-serif;
}

.value {
  font-family: monospace;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin: 0 8px 8px 0;
  padding: 2px 8px;
  font: inherit;
  cursor: pointer;
}

